* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

nav {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  display: flex;
  min-height: 40px;
  background-color: #1b262c;
  text-align: left;
  align-items: center;
}

.shower-icon {
  margin: 4px;
  padding: 4px;
  color: #f0ece3;
  border: 2px solid;
  border-radius: 8px;
}

.shower-thoughts-link {
  text-decoration: none;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font: "Roboto", medium 500;
  color: #f0ece3;
}

.background-image {
  max-height: 30vh;
  width: 30vh;
}

header {
  margin: 70px;
}

.LandingPage {
  margin: 40px;
  padding: 12px;
  font-size: 14px;
  background-color: #1b262c;
  color: #f0ece3;
  border: 2px solid;
  border-radius: 8px;
}
.feed .feed-info {
  padding: 10px;
  font-size: 16px;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
  border: 1px solid;
  border-radius: 5px;
  width: 80%;
  margin: 16px auto;
  background-color: #f3e5dd;

  /* 
    margin: 10px - 10px all around, top, right, bottom, left
    margin: 10px 20px - 10px top&bottom, 20px left&right
    margin: 10px 20px 15px - 10px top, 20px left&right, 15px bottom
    margin: 10px 20px 15px 25px - 10px top, 20px right, 15px bottom, 25px left
    margin: 0 auto; - 0 t&b, auto l&r - this only works if the elemtnt is block/flex and has a width < 100%
  */
}

.liked-false {
  color: beige;
  background-color: darkgray;
}

.liked-true {
  color: yellow;
  background-color: white;
}

button {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;

  background-color: #204051;
  color: #d4b5b0;
}

.create-post {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-conntainer {
  display: flex;
  flex-direction: row;
}

form input {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  color: black;
  background-color: #1b262c;
  color: #f0ece3;
}

textarea {
  border: 0.5px solid;
  border-radius: 5px;
  min-height: 80px;
  min-width: 300px;
}

.feed-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feed-filters a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  background-color: #1b262c;
  color: #f0ece3;
}
