* {
  box-sizing: border-box;
}

nav {
  background-color: beige;
}

header {
  padding: 12% 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

li {
  list-style: none;
  border: black;

  padding: 5% 0;
}

.liked-false {
  background-color: darkgray;
}

.liked-true {
  background-color: blue;
}

.feed-filters a {
  margin: 10px;
}
